.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 100px;
    color: whitesmoke;
}
.nav-logo{
    font-family: Outfit;
    font-size: 30px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 14px;
    gap: 90px;
    cursor: pointer;
}
.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background: #fff;
    color: #262626;
}